$phone: '(max-width: 499px)';
$tablet: '(min-width: 500px) and (max-width: 767px)';
$portrait: '(min-width: 768px) and (max-width: 1023px)';
$desktop: '(min-width: 1024px)';

$input-bg-color: #f2f2f2;
$input-font-color: #444;

$separator-color: #e8e8e8;
$out-of-focus-color: #c4c4c4;

$standard-small-gap: .5rem;
$standard-content-gap: 1rem;
$standard-input-padding: 8px;

$p-font-size: 1.2rem;
$p-line-height: 1.4;
$h2-font-size: 1.8rem;

$header-title-font-size: 5.5rem;

html,
input,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: $h2-font-size;
}

p {
    font-size: $p-font-size;
}

a {
    font-size: $p-font-size;
    color: inherit;
    text-decoration: none;
}

@viewport {
    zoom: 1;
    width: extend-to-zoom;
}

header {
    display: flex;
    height: 30vh;
    width: 100%;

    h1 {
        display: inline-block;
        align-self: flex-end;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        color: white;
        font-size: $header-title-font-size;
        line-height: .75;
        white-space: nowrap;
    }

    @media (max-width: 550px) {
        h1 {
            font-size: .6 * $header-title-font-size;
        }
    }
}

nav {
    width: 100%;

    ol {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        list-style: none;
        padding: 0;
        margin: 1rem 0;

        li {
            margin: 0 1rem;
            display: inline-block;

            a {
                color: white;
                display: block;
                font-size: $h2-font-size;
                line-height: .8;
                padding: 12px 8px;
                text-decoration: none;
                text-align: center;
            }
        }
    }

    @media #{$phone} {
        ol {
            flex-flow: column nowrap;

            li {
                width: 100%;
            }
        }
    }
}

.content-width {
    width: 95%;
    margin: 0 $standard-content-gap;
}

@media #{$desktop} {
    .content-width {
        max-width: 960px;
        margin: auto;
    }
}

#page-content {
    h1 {
        margin: 0;
    }

    .about-content {
        display: flex;
        flex-flow: row wrap;

        .about-page {
            flex: 1 1 45%;

            margin: 0 $standard-content-gap;
            text-align: justify;
            text-indent: 10px;
        }
    }

    .post-title {
        display: inline-block;
        font-size: $h2-font-size;
        font-weight: bold;
        margin: $standard-small-gap 0;
    }

    .post-short-link {
        display: block;

        &:hover {
            background-color: $separator-color;
        }
    }

    .post-short {
        border-bottom: 1px solid $separator-color;
        padding: $standard-content-gap 0;

        .post-short-content {
            margin: 0;
            font-size: $p-font-size;
        }

        .lum-thumbnail {
            float: left;
            margin-right: $standard-small-gap;
            margin-top: 0;
        }

        .post-short-date {
            color: $out-of-focus-color;
            font-size: $p-font-size;
            text-align: right;
        }

        .clear-float {
            clear: both;
        }
    }

    &.contact-content {
        form {
            input,
            textarea,
            button {
                background-color: $input-bg-color;
                border: .5px solid darken($input-bg-color, 10%);
                border-radius: 4px;
                color: $input-font-color;
                font-size: inherit;
                padding: $standard-input-padding;
            }

            textarea {
                box-sizing: border-box;
                width: 100%;
            }

            input {
                box-sizing: border-box;
                width: 50%;
            }

            button {
                margin-bottom: $standard-content-gap;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 5px black;
                }
            }

            .highlight {
                color: red;
            }
        }

        p {
            width: 100%;

            &.success {
                color: green;
            }

            &.error {
                color: red;
            }
        }
    }
}

footer {
    color: white;
    width: 100%;
    margin-top: auto;

    #footer-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: underline;
        }

        .lum-logo {
            margin: $standard-content-gap;
            max-height: 50px;
        }
    }
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.theme-color-bg {
    background-color: #324359;
}

// Tooltip
.tooltip {
    display: inline-block;
    position: relative;

    .tooltiptext {
        background-color: white;
        border: .5px solid darken($input-bg-color, 10%);
        border-radius: 4px;
        bottom: 5px;
        left: 10px;
        padding: 3px;
        position: absolute;
        text-align: center;
        visibility: hidden;
        z-index: 1;
    }

    &:hover {
        .tooltiptext {
            visibility: visible;
        }
    }
}

// For the wordpress image alignment
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
