$lightbox-bg-color: rgba(0, 0, 0, .8);
$lightbox-border-radius: 6px;
$lightbox-min-border: 10px;

$lightbox-nav-hover-color-default: rgba(255, 255, 255, 0);
$lightbox-nav-hover-color-hover: rgba(255, 255, 255, .2);

$spinner-size: 80px;
$spinner-color: #07d;
$spinner-bg-color: #ccc;

.gallery-thumb-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

    .gallery-thumb {
        display: inline-block;
        margin: 5px;
    }

    .lightbox-frame {
        display: none;

        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        top: 0;
        left: 0;

        background-color: $lightbox-bg-color;

        .lightbox {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 2 * $spinner-size;
            min-height: 2 * $spinner-size;

            background-color: white;
            border-radius: $lightbox-border-radius;

            img {
                max-width: 80vw;
                max-height: 80vh;
                width: auto;
                height: auto;
                margin: 0 $lightbox-min-border $lightbox-min-border;
            }

            p {
                margin: $lightbox-min-border;
            }

            .lightbox-close {
                align-self: flex-end;
                z-index: 10;

                img {
                    margin: 3px;
                    vertical-align: bottom;
                }
            }

            .gallery-arrow {
                display: block;
                position: absolute;
                height: 100%;
                width: 25%;
                background-color: $lightbox-nav-hover-color-default;

                img {
                    position: absolute;
                    top: 50%;
                }

                &:hover {
                    background-color: $lightbox-nav-hover-color-hover;
                }
            }

            .gallery-prev-arrow {
                left: 0;
            }

            .gallery-next-arrow {
                right: 0;

                img {
                    right: 0;
                }
            }
        }

        &:target {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
    &::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: $spinner-size;
        height: $spinner-size;
        margin-top: -.5 * $spinner-size;
        margin-left: -.5 * $spinner-size;
        border-radius: 50%;
        border: 2px solid $spinner-bg-color;
        border-top-color: $spinner-color;
        animation: spinner .6s linear infinite;
    }
}
