.gallery-thumb-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.gallery-thumb-list .gallery-thumb {
    display: inline-block;
    margin: 5px;
}

.gallery-thumb-list .lightbox-frame {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.gallery-thumb-list .lightbox-frame .lightbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 6px;
}

.gallery-thumb-list .lightbox-frame .lightbox img {
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    margin: 10px;
}

.gallery-thumb-list .lightbox-frame .lightbox p {
    margin: 10px;
}

.gallery-thumb-list .lightbox-frame:target {
    display: flex;
    align-items: center;
    justify-content: center;
}
