.gallery-thumb-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.gallery-thumb-list .gallery-thumb {
    display: inline-block;
    margin: 5px;
}

.gallery-thumb-list .lightbox-frame {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.gallery-thumb-list .lightbox-frame .lightbox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 160px;
    min-height: 160px;
    background-color: white;
    border-radius: 6px;
}

.gallery-thumb-list .lightbox-frame .lightbox img {
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    margin: 0 10px 10px;
}

.gallery-thumb-list .lightbox-frame .lightbox p {
    margin: 10px;
}

.gallery-thumb-list .lightbox-frame .lightbox .lightbox-close {
    align-self: flex-end;
    z-index: 10;
}

.gallery-thumb-list .lightbox-frame .lightbox .lightbox-close img {
    margin: 3px;
    vertical-align: bottom;
}

.gallery-thumb-list .lightbox-frame .lightbox .gallery-arrow {
    display: block;
    position: absolute;
    height: 100%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0);
}

.gallery-thumb-list .lightbox-frame .lightbox .gallery-arrow img {
    position: absolute;
    top: 50%;
}

.gallery-thumb-list .lightbox-frame .lightbox .gallery-arrow:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.gallery-thumb-list .lightbox-frame .lightbox .gallery-prev-arrow {
    left: 0;
}

.gallery-thumb-list .lightbox-frame .lightbox .gallery-next-arrow {
    right: 0;
}

.gallery-thumb-list .lightbox-frame .lightbox .gallery-next-arrow img {
    right: 0;
}

.gallery-thumb-list .lightbox-frame:target {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #07d;
    animation: spinner .6s linear infinite;
}
