$lightbox-bg-color: rgba(0, 0, 0, .8);
$lightbox-border-radius: 6px;
$lightbox-min-border: 10px;
$lightbox-top-height: 1rem;

$lightbox-nav-hover-color-default: rgba(255, 255, 255, 0);
$lightbox-nav-hover-color-hover: rgba(255, 255, 255, .2);

$thumbnail-shadow-color: black;

$spinner-size: 80px;
$spinner-color: #07d;
$spinner-bg-color: #ccc;

.gallery-thumb-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

    .gallery-thumb {
        display: inline-block;
        margin: 5px;

        img {
            border-radius: 3px;

            &:hover {
                box-shadow: 0 0 2px 1px $thumbnail-shadow-color;
            }
        }
    }

    .lightbox-frame {
        display: none;
        align-items: center;
        justify-content: center;

        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        top: 0;
        left: 0;

        background-color: $lightbox-bg-color;

        .lightbox-vertical-center {
            display: flex;
            flex-flow: row nowrap;
        }

        .lightbox {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 2 * $spinner-size;
            min-height: 2 * $spinner-size;

            background-color: white;
            border-radius: $lightbox-border-radius;

            img {
                max-width: 80vw;
                max-height: 80vh;
                width: auto;
                height: auto;
                margin: $lightbox-min-border;
            }

            p {
                margin: $lightbox-min-border;
            }

            .gallery-arrow {
                position: absolute;
                height: 100%;
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &.gallery-prev-arrow {
                    left: 0;
                    align-items: flex-start;
                }

                &.gallery-next-arrow {
                    right: 0;
                    align-items: flex-end;
                }

                &:hover {
                    background: $lightbox-nav-hover-color-hover;
                }
            }
        }

        .lightbox-close-bg {
            position: absolute;
            display: block;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
    &::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: $spinner-size;
        height: $spinner-size;
        margin-top: -.5 * $spinner-size;
        margin-left: -.5 * $spinner-size;
        border-radius: 50%;
        border: 2px solid $spinner-bg-color;
        border-top-color: $spinner-color;
        animation: spinner .6s linear infinite;
    }
}
